
<!DOCTYPE html>
<html>
<head>
    <title>eXpense</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>eXpense</h1>
<table border="2">
    <tr>
        <th>Purchase Date</th>
        <th>Stock</th>
        <th>Purchase Price</th>
        <th>Current Price</th>
        <th>Gain/Loss</th>
    </tr>
    {% for stock in stocks %}
        <tr>
            <td>{{ stock.Date }}</td>
            <td>{{ stock.Category }}</td>
            <td>₹{{ "%.2f"|format(stock.Amount) }}</td>
            <td>₹{{ "%.2f"|format(stock.CurrentPrice) }}</td>
            <td>₹{{ "%.2f"|format(stock.GainLoss) }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<a href="/">Back to Home</a>
</body>
</html>
